.star1{
  font-size: x-large;
}
.star2{
  font-size: x-large;
  margin-top: 3 px;
}
.star3{
  font-size: x-large;
  margin-top: 5 px;
}
.star4{
  font-size: x-large;
  margin-top: 7 px;
}
.star5{
  font-size: x-large;
  margin-top: 10 px;
}

